.summary-container {
    background-color: #d5eaf7;
    border: 2px solid #0366d6;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 30px auto;
    width: 60%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.summary-container h1 {
    margin-bottom: 20px;
    color: #034efc;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

#view-details-btn {
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#view-details-btn:hover {
    background-color: #218838;
}
